* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 190px);
    /* min-width: 100%; */
    min-height: 80%;
    padding: 20px;
    column-gap: 10px;
    row-gap: 10px;
}

.Img-gallery img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Img-gallery .image-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Img-gallery .image-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.Img-gallery .image-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Img-gallery .image-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
}

.Img-gallery .image-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Img-gallery .image-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
