.nav {
    background-color: #0c0cef;
}

.nav ul {
    display: flex;
    gap: 20px;
} 

.nav ul li {
    color: #fff;
    list-style: none;
    text-decoration: underline;
    padding: 20px;
    cursor: pointer;
}

.nav ul li:hover {
    color: #00e5ff;
}