* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

#header {
    background-color: #000;
    color: #fff;
}

#header .nav-list {
    display: flex;
    justify-content: space-around;
}

#header .nav-list li {
    list-style: none;
    font-size: 20px;
    padding: 20px;
}

/* media query start */

@media screen and (max-width: 768px) {  
    #header { 
        background-color: #737272;
        color: #fff;
    }

    #header .nav-list {
        flex-direction: column;
        text-align: center;
    }
}