:root {
    --primaryColor: #00b7ff;
    --secondaryColor:  #6c757d;
}

#primaryBtn {
    background-color: var(--primaryColor);
    padding: 10px 15px;
    border: 0;
    outline: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#secondaryBtn {
    background-color: var(--secondaryColor);
    padding: 10px 15px;
    border: 0;
    outline: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}